.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5%;
    box-shadow: 0px 0px 5px black;
    margin: 20px auto;
    width: 500px;
    grid-column-gap: 10px;
}

.board > * {
    padding: 10px;
    margin: 0 auto;
}

.score--reset {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-between;
    margin: 0px auto;
}

.search--poffline {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.searchForm {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    flex-direction: row;
    height: 40px;
    width: 450px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 15px;
}

.searchInput {
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    border: none;
    width: 300px;
    outline: none;
    font-size: medium;
}

.searchInput:hover {
    box-shadow: 0px 0px 7px black;
}

.sendReq {
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    width: 130px;
    height: 40px;
    align-self: center;
    font-family: "Roboto Mono", sans-serif;
    cursor: pointer;
    font-size: medium;
}

.sendReq:hover {
    box-shadow: 0px 0px 7px black;
}

.playOffline {
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    width: 220px;
    height: 45px;
    margin-bottom: 15px;
    margin-top: 10px;
    align-self: center;
    font-family: "Roboto Mono", sans-serif;
    cursor: pointer;
    font-size: medium;
}

.playOffline:hover {
    box-shadow: 0px 0px 7px black;
}

.req--chat {
    display: flex;
    width: 95vw;
    margin: 0px auto;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.req {
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    width: 100px;
    height: 40px;
    align-self: center;
    font-family: "Roboto Mono", sans-serif;
    cursor: pointer;
    font-size: medium;
}

.req:hover {
    box-shadow: 0px 0px 7px black;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    width: 80px;
    height: 40px;
    align-self: center;
    font-family: "Roboto Mono", sans-serif;
    cursor: pointer;
    font-size: medium;
}

.chat:hover {
    box-shadow: 0px 0px 7px black;
}

.chatIcon {
    width: 20px;
    height: 20px;
}

@media (max-width: 800px) {
    .searchForm {
        height: 30px;
        width: 350px;
    }
    
    .searchInput {
        width: 200px;
    }

    .sendReq {
        width: 130px;
        height: 30px;
    }
    
    .playOffline {
        width: 220px;
        height: 45px;
    }

    .req {
        height: 30px;
    }

    .chat {
        height: 30px;
    }
}

@media (max-width: 710px) {
    .board {
        width: 350px;
    }
    .score--reset {
        width: 350px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .searchForm {
        flex-direction: column;
        height: 80px;
        width: 205px;
    }
    
    .searchInput {
        width: 200px;
        height: 25px;
        font-size: medium;
    }

    .sendReq {
        width: 95px;
        height: 40px;
        font-size: small;
        align-self: start;
    }
    
    .playOffline {
        width: 160px;
        height: 40px;
        font-size: small;
        align-self: auto;
    }

    .req--chat {
        padding-top: 40px;
    }

    .req {
        font-size: small;
        width: 80px;
    }

    .chat {
        font-size: small;
        width: 65px;
    }

    .chatIcon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 430px) {
    .board {
        width: 270px;
        height: 250px;
        align-items: center;
        grid-column-gap: 0px;
    }

    .score--reset {
        width: 270px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .searchForm {
        flex-direction: column;
        height: 80px;
        width: 205px;
    }
    
    .searchInput {
        width: 150px;
        height: 25px;
        padding-left: 5px;
        font-size: small;
    }

    .sendReq {
        width: 70px;
        height: 40px;
        font-size: small;
        align-self: start;
    }
    
    .playOffline {
        width: 100px;
        height: 53px;
        align-self: auto;
        font-size: small;
    }
    .req--chat {
        padding-top: 60px;
    }
}

@media (max-width: 330px) {
    .board {
        width: 250px;
        height: 250px;
    }
    .score--reset {
        width: 250px;
        margin-bottom: 30px;
    }
}