.home {
    display: flex;
    gap: 100px;
}

.homeButton {
    border: none;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0px 0px 5px black;
    width: 180px;
    height: 100px;
    align-self: center;
    font-family: "Roboto Mono", sans-serif;
    cursor: pointer;
    font-size: x-large;
}

.homeButton:hover {
    box-shadow: 0px 0px 10px black;
}

@media (max-width: 560px) {
    .home {
        gap: 70px;
    }

    .homeButton {
        width: 130px;
        font-size: larger;
    }
}

@media (max-width: 400px) {
    .home {
        gap: 40px;
    }

    .homeButton {
        width: 110px;
        height: 80px;
        font-size: large;
    }
}