body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.regForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 2% 10%;
    box-shadow: 0px 0px 5px black;
    padding-left: 25px;
    padding-right: 25px;
    width: 500px;
    height: 400px;
}

.regInput {
    margin-left: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    border: none;
    height: 25px;
    width: 300px;
    padding-left: 15px;
    outline: none;
}

.regInput:hover {
    box-shadow: 0px 0px 7px black;
}

.regInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regButton {
    border: none;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0px 0px 5px black;
    width: 80px;
    height: 50px;
    align-self: center;
    font-family: "Roboto Mono", sans-serif;
    cursor: pointer;
}

.regButton:hover {
    box-shadow: 0px 0px 10px black;
}

.register {
    align-self: center;
    font-size: x-large;
}

.reg {
    align-self: center;
}

.reg span {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 650px) {

}

@media (max-width: 580px) {
    .regForm {
        width: 450px;
        height: 400px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .regInput {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .regForm {
        width: 350px;
        height: 350px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .regInput {
        width: 350px;
        margin-left: 0px;
    }

    .reg {
        text-align: center;
        padding-top: 10px;
    }

    .regLabel {
        display: none;
    }
}

@media (max-width: 410px) {
    .regForm {
        width: 300px;
        height: 350px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .register{
        font-size: large;
    }

    .reg {
        text-align: center;
        padding-top: 10px;
    }

    .regButton {
        width: 75px;
        height: 40px;
    }
}

@media (max-width: 350px) {
    .regForm {
        width: 220px;
        height: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .register{
        font-size: large;
    }

    .regInput {
        width: 240px;
        margin-left: 0px;
    }

    .reg {
        text-align: center;
        padding-top: 10px;
        font-size: small;
    }

    .regButton {
        width: 75px;
        height: 30px;
    }
}